<%= form_with(model: get, local: true) do |form| %>
  <% if get.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(get.errors.count, "error") %> prohibited this get from being saved:</h2>

      <ul>
        <% get.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.number_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.number_field :review_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
