<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @get.course_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @get.review_id %>
</p>

<%= link_to 'Edit', edit_get_path(@get) %> |
<%= link_to 'Back', gets_path %>
