<%= render 'nav' %>

<div class="container-fluid main">
    <div class="block-1 d-flex align-items-center">
        <div class="block-1-content d-flex flex-column align-items-center">
<<<<<<< HEAD

            <% if logged_in? %>
                <button type="button" class="btn btn-info m-3" data-toggle="modal" data-target="#formModal">
                    Make A Review!
                </button>
            <% else %>
                <button type="button" class="btn btn-warning m-3">
                    <%= link_to  "Sign in and Make A Review!", "/login" %>
                    
                </button>
            <% end %>


            <div class="modal fade" id ="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                <%= render 'reviewForm' %>
            </div>

            <h3 class="m-3">OR</h3>
=======
            <button type="button" class="btn btn-info btn-lg m-3">Make A Review</button>
            <h3 class="m-2">OR</h3>
>>>>>>> 6941a19e1fafd9b852d2bf0dbc867951eb794af0

            <div class="search-bar m-3">
                <form class="d-flex flex-column align-items-center">
                    <h5>Search for a course, professor, or department..</h5>
                    <div class="form-group search-input">
                        <div class="input-group" style="height:50px;">
                            <input type="text" style="height:50px;" class="form-control" aria-label="Search bar with filter options" placeholder="COSI 166B, Pito Salas, Computer Science, ...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filters</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">General (default)</a>
                                    <a class="dropdown-item" href="#">Course</a>
                                    <a class="dropdown-item" href="#">Professor</a>
                                    <a class="dropdown-item" href="#">Department</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-lg m-3" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <% ['Courses', 'Professors'].each do |category| %>
    <div class="dropdown-divider"></div>
    <div class="block d-flex justify-content-center">
        <div class="my-3">
            <h2 class="mb-3">Suggested <%= category %></h2>
            <div class="card-deck row flex-row flex-nowrap overflow-auto">
                <% if category == 'Courses'%>
                <% @courses_most_reviewed.each do |course| %>
                <%= render 'shared/reviewcard', data: course %>
                <% end %>
                <% else %>
                <% @professors_most_reviewed.each do |prof| %>
                <%= render 'shared/reviewcard', data: prof %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>


</div>

</div>