<% users.each do |user| %>
	<div class="list-group-item d-flex justify-content-between align-items-center border-left-0 border-right-0 rounded-0 user-item" id="user-item-<%= user.id %>">
		<%= link_to conversations_path(user_id: user), remote: true, method: :post do %>
			<div class="d-flex align-items-center">
				<div>
					<%= avatar_for user %>
				</div>
				<h5 class="ml-3 font-weight-normal text-wrap mb-0">
					<%= user.show_full_name %>
					<% if unread_messages(find_conversation_with(user.id).id, user.id) > 0 %>
						<span class="badge badge-danger ml-5" id="notification-badge"><%= unread_messages(find_conversation_with(user.id).id, user.id) %></span>
					<% end %>
				</h5>
			</div>
		<% end %>
		<div class="user-card-icon">
			<i class="fas fa-ellipsis-v dropdown-toggle" id="userDropdown" data-toggle="dropdown" style="cursor:pointer;"></i>
			<div class="dropdown-menu" aria-labelledby="userDropdown">
				<%= link_to "Delete", "/conversations/#{find_conversation_with(user.id).id}", method: :delete, remote: true, data: { confirm: "Do you want to delete this conversation and all of its history?" }, class: "dropdown-item" %>
			</div>
		</div>
	</div>
<% end %>
<script>
	// handle on-click effect: disable 'new message' effect (if any) + active background
	var users = $(".user-item")
	users.click(function(e) {
		e.preventDefault();
		users.removeClass("bg-info");
		users.removeClass("bg-light");
		$(this).addClass("bg-light");

		$("#notification-badge").hide();
	});
	
	// after redirecting from 'Message' buttons, shows conversation with the user
	var user_id = "<%= j flash[:recipient_id] %>";
	if (user_id) {
		// moves user to top of the list
		var user_item = $("#user-item-" + user_id)
		user_item.parent().prepend(user_item);
		user_item.find("a").click();
		// opens conversation
		var conversation = $('#conversations-list');
		conversation.html("<%= j render 'conversations/conversation', conversation: find_conversation_with(flash[:recipient_id]), user: current_user if flash[:recipient_id] %>");
		// scrolls to last message
		var messages_list = conversation.find('.messages-list');
		var height = messages_list[0].scrollHeight;
		messages_list.scrollTop(height);
		// highlights textarea
		var textarea = conversation.find('textarea');
		textarea.focus()
	}
	
	if ($(window).width() < '992') {
		users.click(function() {
			$("#conversations-list").removeClass("d-none");
			$(".users-container").addClass("d-none");
		});
	}
</script>
