<div class="result-container">
<div class="result-text ml-5 mb-4">
<h2 class="mt-5">You've searched for <%= @filter.blank? ? "'#{@search_text}'" : "#{@filter}s related to '#{@search_text}'" %></h2>
<h5><i><%= pluralize(@total_result, "result") %></i></h5>
</div>

    <% if !@courses.nil? %>
    <div class="dropdown-divider"></div>
    <div class="block mr-4">
        <div class="my-3">
            <div class="mx-5 mb-3 d-flex align-items-center">
                <h2>Suggested Courses</h2>
                <button id="btn-filter-courses" class='btn btn-sm btn-success rounded-pill px-3 ml-3'>Show All Offerings</button>
            </div>
            <div id="suggested-courses-container">
                <%= render 'courses' %>
            </div>
        </div>
    </div>
    <% end %>

    <% if !@professors.nil? %>
    <div class="dropdown-divider"></div>
    <div class="block mr-4">
        <div class="my-3">
            <h2 class="mb-3 ml-5">Suggested Professors</h2>
            <div class="card-deck row flex-row flex-nowrap overflow-auto mx-4">
                <% @professors.each do |prof| %>
                <%= render 'shared/review_card', 
                    data: prof,
                    card_link: "/professors/#{prof["id"]}",
                    card_title: "#{prof["prof_first_name"]} #{prof["prof_last_name"]}", 
                    card_subtitle: prof["dept_name"],
                    card_text: prof["total_reviews"] %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>

    <% if !@departments.nil? %>
    <div class="dropdown-divider"></div>
    <div class="block mr-4">
        <div class="my-3">
            <h2 class="mb-3 ml-5">Suggested Departments</h2>
            <div class="card-deck row flex-row flex-nowrap overflow-auto mx-4">
                <% @departments.each do |department| %>
                    <%= render 'shared/dept_card', 
                        data: department,
                        card_link: department_path(department["id"]) %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
</div>

<script>
var btn_filter_courses = $("#btn-filter-courses");
btn_filter_courses.click(function() {
    var switch_to_gc = btn_filter_courses.text().includes("Offerings");
    $(".se-pre-con").show();
    $.ajax({
      url: "/search",
      type: "POST",
      data: { filter_general_courses: switch_to_gc, search_text: "<%=@search_text%>%", filter: "<%=@filter%>" },
      success: function(data) {
          $(".se-pre-con").hide();
      }
    });
})
</script>