<div class="card rounded-0 border-0 conversation-container" data-conversation-id="<%= conversation.id %>" style="height: 90vh">
	<div class="card-header bg-transparent rounded-0 msg-header d-flex align-items-center justify-content-between justify-content-lg-start" style="height: 8vh;">
		<a id="btn-back" onclick="backbtn()"><i class="fas fa-chevron-left fa-2x text-primary d-lg-none d-xl-none"></i></a>
		<%= link_to "#{conversation.opposed_user(user).show_full_name ||= conversation.opposed_user(user).email}", user_path(conversation.opposed_user(user).id), method: :get, class: "h3 my-2 ml-2" %>
	</div>
	<div class="card-body msg-body" style="height:65vh;">
		<div class="messages-list">
			<ul>
				<%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
			</ul>
		</div>
	</div>
	<div class="dropdown-divider mb-0"></div>
	<div class="card-body msg-form pt-0 container-fluid">
		<div class="row ml-4 d-block mb-1" style="width:85%;height:30%;">
			<% if !conversation.messages.any? %>
				<div class="btns row align-items-center text-center mr-2 suggestions flex-nowrap">
					<% new_conversation_suggestion(conversation).each do |style, text| %>
						<a class="col">
							<span class="<%= style %>"><%= text %></span>
						</a>
					<% end %>
				</div>
			<% else %>
				<div class="mb-1"></div>
			<% end %>
		</div>
		<div class="input-msg-container mx-lg-4 mx-xl-4 mx-0 d-xs-flex d-sm-flex d-md-flex">
			<form class="new_message d-flex align-items-center w-100">
				<input name="conversation_id" type="hidden" value="<%= conversation.id %>">
				<input name="user_id" type="hidden" value="<%= user.id %>">
				<div class="col-lg-11 col-xl-11 col-9">
					<textarea name="body" id="msg-textarea" class="form-control overflow-auto" style="resize: none;"></textarea>
				</div>
				<div class="col">
					<%= button_tag class: "btn btn-lg bg-transparent btn-msg" do %>
						<i class="fas fa-paper-plane fa-lg"></i>
					<% end %>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$("a .badge").click(function(e) {
	  	e.preventDefault();
	  	var message = $(this).html();
	  	$('textarea').val(message);
	});
	
	function backbtn() {
		$("#conversations-list").addClass("d-none");
		$(".users-container").removeClass("d-none");
	}
</script>
