<p id="notice"><%= notice %></p>

<h1>Rate Ups</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rate_ups.each do |rate_up| %>
      <tr>
        <td><%= rate_up.user_id %></td>
        <td><%= rate_up.review_id %></td>
        <td><%= link_to 'Show', rate_up %></td>
        <td><%= link_to 'Edit', edit_rate_up_path(rate_up) %></td>
        <td><%= link_to 'Destroy', rate_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate Up', new_rate_up_path %>
