<div class = "profile-area">
	<div class = "profile-gravatar-area">
		<%= avatar_for @user %>
	</div>
	<div class = "profile-name-area">
		<h1><%= @user.show_full_name %></h1>
		<h5><%= @user.email %></h5>
	</div>
	<div class = "profile-button-area">
		<%= button_to "Message", "/message/#{@user.id}", method: :post, remote: true, class: "btn btn-outline-primary btn-lg" %>
	</div>
</div>
<div class="dropdown-divider"></div>
<div class="reviews mx-5 row">
	<div class="col-8">
		<h1 class="my-5">Enrolled Courses</h1>
		<ul>
			<% @user_courses.each do |course| %>
				<li><%= course.show_course_info %></li>
			<% end %>
		</ul>
	</div>
</div>
