<div class="header m-5">
	<div class="row d-flex justify-content-start align-items-center">
		<div class="col-1 ml-3">
			<%= avatar_for @user %>
		</div>
		<div class="col-4 text-left">
			<h1><%= @user.show_full_name %></h1>
			<h5><%= @user.email %></h5>
		</div>
		<div class="col text-right">
			<% if logged_in? %>
				<%= button_to "Message", "/message/#{@user.id}", method: :post, remote: true, class: "btn btn-outline-primary btn-lg" %>
			<% end %>
		</div>
	</div>
</div>
<div class="dropdown-divider"></div>
<div class="m-5">
	<h1>Enrolled Courses</h1>
	<div class="enrolled-classes">
		<% @users_courses_by_dept.each do |dept, courses| %>
			<div class="pb-3 border-bottom mt-5">
				<%= link_to department_path(dept.id) do%>
					<h2><%= dept.dept_name %></h2>
				<% end %>
			</div>
			<div class="taken-classes mt-2">
				<% courses.each do |course| %>
					<h4><%= link_to course.show_course_info, general_course_path(course.id) %></h4>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
