<% if !(request.path == '/login' || request.path == '/users/new') %>
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand logo d-flex align-items-center ml-4" href="/">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/32/Brandeis_University_seal.svg" width="70" height="70" class="d-inline-block align-top" alt="">
        <span class="h3 ml-3">
            Rate My Professor
        </span>
    </a>

    <div class="collapse navbar-collapse nav-content" id="navbarToggler">
        <% if request.path == '/' || request.path == '/welcome' %>
        <div class="form-inline my-2 my-lg-0 search-form d-flex justify-content-center"></div>
        <% else %>
        <%= form_tag "/search", method: "get", class: "form-inline my-2 my-lg-0 search-form d-flex justify-content-center" do %>
            <%= text_field_tag :search_text, '', placeholder: "Search", class: 'form-control mr-sm-2' %>
            <%= submit_tag "Search", class: 'btn btn-outline-success my-2 my-sm-0' %>
        <% end %>
        <% end %>
        <div class="d-flex justify-content-end nav-links">

            <% if !(request.path == '/' || request.path == '/welcome') %>
            <a class="nav-item nav-link left-align h5 text-center text-primary" href="#" data-toggle="modal" data-target="#formModal">Make A Review</a>
            <% end %>

            <% if logged_in? %>
            
            <div class="modal fade" id ="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                <div class = "container">
                    <%= render 'shared/reviewForm' %>
                </div>
            </div>
            <div class="dropdown nav-item nav-link left-align authentication">
                <a class="dropdown-toggle h5" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi <%= current_user.first_name  %>!
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <%= button_to  "View Profile", "/view_profile", method: :get, class: "dropdown-item" %>
                    <%= button_to  "Log Out", "/logout", method: :get, class: "dropdown-item" %>
                </div>
            </div>

            <% else %>
            <%= link_to  "Sign In", "/login", class: "nav-item nav-link left-align h5 authentication text-center text-primary" %>
            <% end %>
        </div>
    </div>
</nav>
<% end %>