<% if !([new_user_session_path, new_user_registration_path, new_user_password_path, edit_user_password_path].include? request.path) %>
	<nav class="navbar navbar-expand-lg navbar-light">
		<%= link_to root_path, class: "d-lg-none d-xl-none", method: :get do %>
			<%= image_tag 'brandeis_logo_favicon.svg', width: '50', height: '50', class: "d-inline-block align-top logo-img", alt: 'Brandeis logo'%>
		<% end %>
		<span class="d-flex justify-content-between align-items-center d-lg-none d-xl-none">
			<% if logged_in? %>
				<% if !current_user.is_admin_user %>
					<%= link_to  "My Profile", "/view_profile", method: :get, class: 'text-white font-weight-light mr-3' %>
				<% end %>
				<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'text-white font-weight-light' %>
			<% else %>
				<%= link_to  "Sign In", "/login", class: 'text-white' %>
			<% end %>
		</span>
		<a class="navbar-brand logo align-items-center ml-4 d-none d-lg-flex d-xl-flex" href="/">
			<span class="h1 mr-3 nav-title">
				Rate My Professor
			</span>
			<%= image_tag 'brandeis_logo.svg', width: '100', height: '100', class: "d-inline-block align-top logo-img", alt: 'Brandeis logo'%>
		</a>
		<div class="collapse navbar-collapse nav-content" id="navbarToggler">
			<% if request.path == root_path %>
				<div class="form-inline my-2 my-lg-0 search-form d-flex justify-content-center d-none d-lg-block d-xl-block"></div>
			<% else %>
				<div class="d-flex my-2 my-lg-0 search-form justify-content-center d-none d-lg-flex d-xl-flex">
					<%= form_tag "/search", method: "get", class: "form-inline" do %>
						<%= text_field_tag :search_text, '', placeholder: "Search", class: 'form-control mr-sm-2' %>
						<%= submit_tag "Search", class: 'btn btn-outline-light my-2 my-sm-0' %>
					<% end %>
				</div>
			<% end %>
			<div class="d-none d-lg-flex d-xl-flex justify-content-end nav-links">
				<% if !(request.path == root_path) && (current_user && !current_user.is_admin_user) %>
					<a class="nav-item nav-link left-align h5 text-center nav-text nav-review-text" data-toggle="modal" data-target="#formModal">Make A Review</a>
				<% end %>
				<% if logged_in? %>
					<div class="dropdown nav-item nav-link left-align authentication">
						<a class="dropdown-toggle h5 nav-text" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Hi <%= current_user.first_name %>!
						</a>
						<div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenu">
							<% if !current_user.is_admin_user %>
								<%= link_to  "My Profile", "/view_profile", method: :get, class: "dropdown-item" %>
								<%= link_to  "Messages", "/messenger_home", method: :get, class: "dropdown-item" %>
							<% else %>
								<%= link_to "Administrator", "/admin", class: "dropdown-item" %>
							<% end %>
							<%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
						</div>
					</div>
				<% else %>
					<%= link_to  "Sign In", "/login", class: "nav-item nav-link left-align h5 authentication text-center nav-text" %>
				<% end %>
			</div>
		</div>
	</nav>
<% end %>
<div class="modal fade" id ="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
	<div class="container">
		<%= render 'shared/reviewForm' %>
	</div>
</div>
