<div class="card mb-3 card-block shadow" style="width: 18rem; min-width: 18rem; max-width: 18rem;">
    <div class="card-header bg-transparent">
            <h4 class="card-title">
                <%= link_to card_link do %>
                    <%= sanitize card_title %>
                <% end %>
            </h4>
            <h6 class="card-subtitle text-muted"><%= card_subtitle %></h6>
    </div> 
    <div class="card-body pb-0">
        <div class="ratings">
            <% get_hash(data).each do |key, label| %>
                <div class="d-flex justify-content-between align-content-center">
                    <div>
                        <p>
                            <b class="card-label"><%= label %></b>
                            : <%= (card_text == 0) ? 'N/A' : number_with_precision(data[key], precision: 2) %>
                        </p>
                    </div>
                    <%= card_text == 0 ? icon_for('N/A') : icon_for(number_with_precision(data[key], precision: 2)) %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <small class="text-muted"><%= card_text %> reviews</small>
    </div>
</div>
