<div class="card mb-3 card-block border-success shadow" style="width: 18rem; min-width: 18rem; max-width: 18rem;">
    <div class="card-header bg-transparent border-success">
            <h5 class="card-title h4"><%= sanitize card_title %></h5>
            <h6 class="card-subtitle text-muted"><%= card_subtitle %></h6>
    </div> 
    <div class="card-body">
        <div class="ratings">
            <% ["avg_cat1", "avg_cat2", "avg_cat3", "avg_cat4", "avg_cat5"].each do |cat| %>
            <p><b>Category <%= cat[-1,1] %></b>: <%= number_with_precision data[cat], precision: 2 %> / 5</p>
            <% end %>
        </div>
    </div>
    <div class="card-footer bg-transparent border-success">
        <small class="text-muted"><%= card_text %> reviews</small>
    </div>
</div>