<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @preference.user_id %>
</p>

<p>
  <strong>Likes participation:</strong>
  <%= @preference.likes_participation %>
</p>

<p>
  <strong>Likes workload:</strong>
  <%= @preference.likes_workload %>
</p>

<p>
  <strong>Likes testing:</strong>
  <%= @preference.likes_testing %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
