<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @professor_rating.review_id %>
</p>

<p>
  <strong>Cat1:</strong>
  <%= @professor_rating.cat1 %>
</p>

<p>
  <strong>Cat2:</strong>
  <%= @professor_rating.cat2 %>
</p>

<p>
  <strong>Cat3:</strong>
  <%= @professor_rating.cat3 %>
</p>

<p>
  <strong>Cat4:</strong>
  <%= @professor_rating.cat4 %>
</p>

<p>
  <strong>Cat5:</strong>
  <%= @professor_rating.cat5 %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @professor_rating.strength %>
</p>

<p>
  <strong>Improvement:</strong>
  <%= @professor_rating.improvement %>
</p>

<%= link_to 'Edit', edit_professor_rating_path(@professor_rating) %> |
<%= link_to 'Back', professor_ratings_path %>
