<%= form_with(model: rate_down, local: true) do |form| %>
  <% if rate_down.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate_down.errors.count, "error") %> prohibited this rate_down from being saved:</h2>

      <ul>
        <% rate_down.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.number_field :review_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
