<p id="notice"><%= notice %></p>

<h1>Rate Downs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rate_downs.each do |rate_down| %>
      <tr>
        <td><%= rate_down.user_id %></td>
        <td><%= rate_down.review_id %></td>
        <td><%= link_to 'Show', rate_down %></td>
        <td><%= link_to 'Edit', edit_rate_down_path(rate_down) %></td>
        <td><%= link_to 'Destroy', rate_down, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate Down', new_rate_down_path %>
