<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rate_down.user_id %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rate_down.review_id %>
</p>

<%= link_to 'Edit', edit_rate_down_path(@rate_down) %> |
<%= link_to 'Back', rate_downs_path %>
