
<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">

    <div class="field">
      
      <%= form.label :course_id %>
      <%= collection_select(:review, :course_id, Course.all, :id, :show_course_info) %>

    </div>

    <div class="field">
      <%= form.label :professor_id %>
      <%= form.number_field :professor_id %>
    </div>
    
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

  </div>
  
  <div class = "row">
      <div class = "col">
        <div class ="field">
          <%= form.label :cat1 %>
          <%= form.number_field :course_cat1 %>
        </div>

        <div class ="field">
          <%= form.label :cat2 %>
          <%= form.number_field :course_cat2 %>
        </div>

        <div class ="field">
          <%= form.label :cat3 %>
          <%= form.number_field :course_cat3 %>
        </div>

        <div class ="field">
          <%= form.label :cat4 %>
          <%= form.number_field :course_cat4 %>
        </div>

        <div class ="field">
          <%= form.label :cat5 %>
          <%= form.number_field :course_cat5 %>
        </div>

        <div class ="field">
          <%= form.label :content %>
          <%= form.text_field :course_content %>
        </div>
      </div>
      <div class = "col">
        <div class ="field">
          <%= form.label :cat1 %>
          <%= form.number_field :professor_cat1 %>
        </div>

        <div class ="field">
          <%= form.label :cat2 %>
          <%= form.number_field :professor_cat2 %>
        </div>

        <div class ="field">
          <%= form.label :cat3 %>
          <%= form.number_field :professor_cat3 %>
        </div>

        <div class ="field">
          <%= form.label :cat4 %>
          <%= form.number_field :professor_cat4 %>
        </div>

        <div class ="field">
          <%= form.label :cat5 %>
          <%= form.number_field :professor_cat5 %>
        </div>

        <div class ="field">
          <%= form.label :"Professor's Strength" %>
          <%= form.text_field :professor_strength %>
        </div>

        <div class ="field">
          <%= form.label :"Things to Improve"%>
          <%= form.text_field :professor_improvement %>
        </div>
      </div>
    </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
