
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


<div id="rateYo"></div>
<script>
var cc1 = 3;
var cc2 = 3;
var cc3 = 3;
var cc4 = 3;
var cc5 = 3;

$(function () {
 
  
  $("#cc1").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_course_cat1").val(rating);
    }
  });
 
  
  $("#cc2").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_course_cat2").val(rating);
    }
  });
  
  $("#cc3").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_course_cat3").val(rating);
    }
  });
  
  $("#cc4").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_course_cat4").val(rating);
    }
  });

  $("#cc5").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_course_cat5").val(rating);
    }
  });

  $("#pc1").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_professor_cat1").val(rating);
    }
  });
 
  
  $("#pc2").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_professor_cat2").val(rating);
    }
  });
  
  $("#pc3").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_professor_cat3").val(rating);
    }
  });
  
  $("#pc4").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_professor_cat4").val(rating);
    }
  });

  $("#pc5").rateYo({
    rating: 3,
    fullStar: true,
    onSet: function (rating, rateYoInstance){
      $("#review_professor_cat5").val(rating);
    }
  });
});

</script>

<div class = "container">
<%= form_with(model: review, class: "float-center", local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <div class="row">
      <div class = "col">
        <%= form.label :course_id %>
      </div>
      
      <div class = "col">
        
        <%= collection_select(:review, :course_id, Course.all, :id, :show_course_info) %>
      </div>
    </div>
  </div>

  
  <div class="field">
    <div class = "row">
      <div class = "col">
        <%= form.label :professor_id %>
      </div>
      <div class = "col">
        <%= form.number_field :professor_id , placeholder: "Professor Name", :size=>"50" %>
      </div>
    </div>
  </div>

  <div class = "field"> 
    <div class="row">
      <div class = "col">
        <%= form.label :title %>
      </div>
      <div class = "col">
        <%= form.text_field :title %>
      </div>
    </div>
  </div>
  
  <hr>

  <div class = "row">
      <div class = "col">
        <div class ="field">
          <%= form.label :cat1 %>
          <div id="cc1"></div>
          <input id = "review_course_cat1" name = "review[course_cat1]" type="number" value = 3 />
        </div>

        <div class ="field">
        
          <%= form.label :cat2 %>
          <div id="cc2"></div>
          <input id = "review_course_cat2" name = "review[course_cat2]" type="number" value = 3 />
        </div>
          
        <div class ="field">
          <%= form.label :cat3 %>
          <div id="cc3"></div>
          <input id = "review_course_cat3" name = "review[course_cat3]" type="number" value = 3 />
        </div>

        <div class ="field">
          <%= form.label :cat4 %>
          <div id="cc4"></div>
          <input id = "review_course_cat4" name = "review[course_cat4]" type="number" value = 3 />
        </div>

        <div class ="field">
          <%= form.label :cat5 %>
          <div id="cc5"></div>
          <input id = "review_course_cat5" name = "review[course_cat5]" type="number" value = 3 />
        </div>
      </div>
      <div class = "col">
        <div class ="field">
          <%= form.label :content %>
          <%= form.text_field :course_content %>
        </div>
      </div>
    </div>
    <hr>
    <div class = "row">
      <div class = "col">
        <div class ="field">
          <%= form.label :cat1 %>
          <div id="pc1"></div>
          <input id = "review_professor_cat1" name = "review[professor_cat1]" type="number" value = 3 />
        </div>

        <div class ="field">
          <%= form.label :cat2 %>
          <div id="pc2"></div>
          <input id = "review_professor_cat2" name = "review[professor_cat2]" type="number" value = 3 />
        </div>

        <div class ="field">
          <%= form.label :cat3 %>
          <div id="pc3"></div>
          <input id = "review_professor_cat3" name = "review[professor_cat3]" type="number" value = 3 />
        </div>

        <div class ="field">
          <%= form.label :cat4 %>
          <div id="pc4"></div>
          <input id = "review_professor_cat4" name = "review[professor_cat4]" type="number" value = 3 />
        </div>

        <div class ="field">
          <%= form.label :cat5 %>
          <div id="pc5"></div>
          <input id = "review_professor_cat5" name = "review[professor_cat5]" type="number" value = 3 />
        </div>
      </div>
      <div class = "col">
        <div class ="field">
          <%= form.label :"Professor's Strength" %>
          <%= form.text_field :professor_strength %>
        </div>

        <div class ="field">
          <%= form.label :"Things to Improve"%>
          <%= form.text_field :professor_improvement %>
        </div>
      </div>
    </div>
  <hr>

  <div class="actions">
    <%= form.submit 'Submit Review', class: 'form-submission btn btn-primary float-right' %>
  </div>
<% end %>
</div>
