
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>

<script>

var ratingFormCategories = [
  '.review_write_course_cat1',
  '.review_write_professor_cat1',
  '.review_write_course_cat2',
  '.review_write_professor_cat2',
  '.review_write_course_cat3',
  '.review_write_professor_cat3',
  '.review_write_course_cat4',
  '.review_write_professor_cat4',
  '.review_write_course_cat5',
  '.review_write_professor_cat5'
]



$(function() {
  ratingFormCategories.forEach(function(e){

    $(function() {
      $(e).barrating({
        theme: 'bars-square',
        showValues: true,
        showSelectedRating: false
      });
    });

  });
});

$(document).ready(function() {
  var review_text = $(".w-content");
  var counter     = $("#w-content-counter");
  var max_length  = counter.data("maximum-length");

  review_text.keyup(function() {
      counter.text(max_length - $(this).val().length);
  });

});

$(document).ready(function() {
  var review_text = $(".w-strength");
  var counter     = $("#w-strength-counter");
  var max_length  = counter.data("maximum-length");

  review_text.keyup(function() {
      counter.text(max_length - $(this).val().length);
  });

});

$(document).ready(function() {
  var review_text = $(".w-improvement");
  var counter     = $("#w-improvement-counter");
  var max_length  = counter.data("maximum-length");

  review_text.keyup(function() {
      counter.text(max_length - $(this).val().length);
  });

});



</script>


<%= form_with(model: review, :html => {:style=>"width:100%"}) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
  <div class="card" style="width:100%;">
  <div class = "card-body">
  <div class = "form-group">
    <div class = "row">
      <div class = "col-3">
        <h5> <label for="course_year"> Semester... </label></h5>
      </div>
      <div class = "col-9">
        <%= form.select(:course_year, options_for_select(all_years),{prompt: "Select year"},{class:"form-control",style:"width:100%"}) %>
      </div>
    </div>
  </div>

  <div class = "form-group">
    <div class = "row">
      <div class = "col-3">
        <h5> <label for="course_id"> Review For... </label></h5>
      </div>
      <div class = "col-9">
        <%= form.select(:course_id, options_for_select(all_courses), {prompt: "Select A Course"}, {class:"form-control",:disabled => true, style:"width:100%;"}) %>
       </div>
    </div>
  </div>
  
  <div class = "form-group">
    <div class = "row">
      <div class = "col-3">
        <h5><%= form.label :professor_id %></h5>
      </div>
      <div class = "col-9">
        <%= form.collection_select :professor_id, Professor.all, :id, :show_name, { prompt: 'Select A Professor' }, {class:"form-control",:disabled => true, style:"width:100% "} %>
      </div>
    </div>
  </div>

  <div class = "form-group">
    <div class = "row"> 
      <div class = "col-3">
        <h5><%= form.label :title %></h5>
      </div>
      <div class = "col-9">
        <%= form.text_field :title, class:"form-control", placeholder: "Title of your review", maxlength: 50, size: 30, style: "width: 100%" %>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  <p></p>
  
  <div class = "row">
    <div class = "col-12">
      <div class = "card" style="width:100%">
        <div class = "card-header">
          <div class = "row">
            <div class = "col text-center">
              <h5>Course Ratings</h5>
            </div>
          </div>
        </div>
        <% @course_rating = CourseRating.new %>
        <%= form.fields_for :course_rating, @course_rating do |c_form| %>
        <ul class = "list-group list-group-flush">
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Content</p>

                <div class = "explanation">Is the content being taught in the course interesting to you?</div>
              </div>
            </div>
            <div class ="row">
              <div class = "col-3 text-right">
                Not Interesting 
              </div>
              <div class = "col-6 text-center">
                <%= c_form.select :cat1, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_course_cat1"} %>
              </div>
              <div class = "col-3 text-left">
                Very Interesting
              </div>
            </div>
          </li>
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Participation</p>

                <div class = "explanation">Did you feel that the course requires high level of participation?
                (i.e. attendance, in-class participation, etc.) </div>
              </div>
            </div>
            <div class ="row">   
              <div class = "col-3 text-right">
                Lenient
              </div>
              <div class = "col-6 text-center">
                <%= c_form.select :cat2, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_course_cat2"} %>
              </div>
              <div class = "col-3 text-left">
                Strict
              </div>
            </div>
          </li>
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Workload</p>

                <div class = "explanation">Did the course require a great amount of time dedicated to assignments?</div>
              </div>
            </div>
            <div class ="row">
              <div class = "col-3 text-right">
                Not intense
              </div>
              <div class = "col-6 text-center">
                <%= c_form.select :cat3, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_course_cat3"} %>
              </div>
              <div class = "col-3 text-left">
                Very intense
              </div>
            </div>
          </li>
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Test</p>

                <div class = "explanation">What was your experience regarding amount of test and exams in this course?</div>
              </div>
            </div>
            <div class ="row">
              <div class = "col-3 text-right">
                Little or no test
              </div>
              <div class = "col-6 text-center">
                <%= c_form.select :cat4, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_course_cat4"} %>
              </div>
              <div class = "col-3 text-left">
                Many tests
              </div>
            </div>
          </li>
        </ul>
        <div class = "card-body">
          <div class = "row">
            <div class = "col-12 text-center">
              <p>Grading</p>

              <div class = "explanation">Was the grading in the course harsh or lenient for this assignments and exams?</div>
            </div>
          </div>
          <div class ="row">
            <div class ="col-3 text-right">
              Not strict
            </div>
            <div class ="col-6 text-center">
              <%= c_form.select :cat5, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_course_cat5"} %>
            </div>
            <div class ="col-3 text-left">
              Very strict
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <p></p>
  <div class = "row">
    <div class="col-12">
      <div class="card" style="width:100%">
        <div class = "card-header">
          <div class = "row">
            <div class = "col text-center">
              <h5>Professor Ratings</h5>
            </div>
          </div>
        </div>
        <% @professor_rating = ProfessorRating.new %>
        <%= form.fields_for :professor_rating, @professor_rating do |p_form| %>
        <ul class = "list-group list-group-flush">
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Delivery</p>

                <div class = "explanation">Does the professor deliver the contents in a comprehensible manner? (i.e. tone, pacing, etc)</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col-3 text-right">
                Not comprehensible
              </div>
              <div class = "col-6 text-center">
                <%= p_form.select :cat1, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_professor_cat1"} %>
              </div>
              <div class = "col-3 text-left">
                Easily comprehensible
              </div>
            </div>
          </li>
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Accessibility</p>

                <div class = "explanation">Was the professor easy to reach both online (i.e. email) and offline(i.e office hours)?</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col-3 text-right">
                Not accessible
              </div>
              <div class = "col-6 text-center">
                <%= p_form.select :cat2, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_professor_cat2"} %>
              </div>
              <div class = "col-3 text-left">
                Easily accessible
              </div>
            </div>
          </li>
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Expertise</p>

                <div class = "explanation">Did the professor demonstrate a solid grasp of the content of the course in the lecture?</div>
              </div>
            </div>
            <div class="row">
              <div class = "col-3 text-right">
                General knowledge
              </div>
              <div class = "col-6 text-center">
                <%= p_form.select :cat3, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_professor_cat3"} %>
              </div>
              <div class = "col-3 text-left">
                Expert knowledge
              </div>
            </div>
          </li>
          <li class = "list-group-item">
            <div class = "row">
              <div class = "col-12 text-center">
                <p>Expectation</p>

                <div class = "explanation">Was the professor’s expectations in terms of grading rubrics, workload, and difficulty clear throughout the course? (i.e course syllabus)</div>
              </div>
            </div>
            <div class = "row">
              <div class = "col-3 text-right">
                Not clear
              </div>
              <div class = "col-6 text-center">
                <%= p_form.select :cat4, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_professor_cat4"} %>
              </div>
              <div class = "col-3 text-left">
                Very clear
              </div>
            </div>
          </li>
        </ul>
        <div class = "card-body">
          <div class = "row">
            <div class = "col-12 text-center">
              <p>Preparedness</p>

              <div class = "explanation">This is some explanation about what this category is about, and instructions
              on how the user should rate (1 is more toward cat1, whereas 5 is more toward its opposite.)</div>
            </div>
          </div>
          <div class = "row">
            <div class = "col-3 text-right">
              Not persistent
            </div>
            <div class = "col-6 text-center">
              <%= p_form.select :cat5, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]],{},{class:"review_write_professor_cat5"} %>
            </div>
            <div class = "col-3 text-left">
              Very persistent
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
  
  
  <p></p>
  <%= form.fields_for :course_rating, @course_rating do |c_form| %>
  <div class = "form-group">
    <div class = "row">
      <div class = "col-12">
        <%= form.label :course_content %>
      </div>
    </div>
    <div class ="row">
      <div class = "col-12">
        <%= c_form.text_area :content, class:"form-control w-content", placeholder: "Type up to 300 characters.", maxlength: 300, size: 30, rows:"6", style: "width: 100%"  %>    
        <span id="w-content-counter" data-maximum-length="300">300</span>  
      </div>
    </div>
  </div>
  <% end %>
  
  <%= form.fields_for :professor_rating, @professor_rating do |p_form| %>
  <div class = "form-group">
    <div class ="row">
      <div class ="col-12">
        <%= form.label :"Professor's Strength" %>
      </div>
    </div>
    <div class ="row">
      <div class ="col-12">
        <%= p_form.text_area :strength, class:"form-control w-strength", placeholder: "Type up to 300 characters.", maxlength: 300, size: 30, rows:"6", style: "width: 100%" %>
        <span id="w-strength-counter" data-maximum-length="300">300</span>
      </div>
    </div>
  </div>
  

  <div class = "form-group">
    <div class ="row">
      <div class = "col-12">
        <%= form.label :"Things to Improve"%>
      </div>
    </div>
    <div class = "row">
      <div class = "col-12">
        <%= p_form.text_area :improvement, class:"form-control w-improvement", placeholder: "Type up to 300 characters.", maxlength: 300, size: 30, rows:"6", style: "width: 100%" %>
        <span id="w-improvement-counter" data-maximum-length="300">300</span>
      </div>
    </div>
  </div>
  <% end %>
</fieldset>  
  
  <div class = "row">
    <div class = "col-4 text-center">
        
    </div>
    <div class = "col-4 text-center">
      <div class="actions">
        <div class = "real-submit">
          <%= form.submit 'Submit Review', class: 'form-submission btn btn-outline-primary btn-block' %>
        </div>
      </div>
    </div>
    <div class = "col-4 text-center">
    
    </div>
  </div>
<% end %>

