
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/bars-square.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>


<script>

var ratingFormCategories = [
  '#review_course_cat1',
  '#review_professor_cat1',
  '#review_course_cat2',
  '#review_professor_cat2',
  '#review_course_cat3',
  '#review_professor_cat3',
  '#review_course_cat4',
  '#review_professor_cat4',
  '#review_course_cat5',
  '#review_professor_cat5'
]

$(function() {
  ratingFormCategories.forEach(function(e){

    $(function() {
      $(e).barrating({
        theme: 'bars-square',
        showValues: true,
        showSelectedRating: false
      });
    });

  });
});



</script>


<%= form_with(model: review, :html => {:style=>"width:100%"}) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset>
  <div class="card" style="width:100%;">
  <div class = "card-body">
  <div class = "form-group">
    <div class = "row">
      <div class = "col-3">
        <h5> <label for="course_year"> Year Taught... </label></h5>
      </div>
      <div class = "col-9">
        <%= form.select(:course_year, options_for_select(all_years),{prompt: "Select year"},{class:"form-control",style:"width:100%"}) %>
      </div>
    </div>
  </div>

  <div class = "form-group">
    <div class = "row">
      <div class = "col-3">
        <h5> <label for="course_id"> Review For... </label></h5>
      </div>
      <div class = "col-9">
        <%= form.select(:course_id, options_for_select(all_courses), {prompt: "Select A Course"}, {class:"form-control",:disabled => true, style:"width:100%;"}) %>
       </div>
    </div>
  </div>
  
  <div class = "form-group">
    <div class = "row">
      <div class = "col-3">
        <h5><%= form.label :professor_id %></h5>
      </div>
      <div class = "col-9">
        <%= form.collection_select :professor_id, Professor.all, :id, :show_name, { prompt: 'Select A Professor' }, {class:"form-control",:disabled => true, style:"width:100% "} %>
      </div>
    </div>
  </div>

  <div class = "form-group">
    <div class = "row"> 
      <div class = "col-3">
        <h5><%= form.label :title %></h5>
      </div>
      <div class = "col-9">
        <%= form.text_field :title, class:"form-control", placeholder: "Title of your review", style: "width: 100%" %>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  <p></p>
  
  <div class = "row">
  <div class = "col-6">
  <div class = "card" style="width:100%">
    <div class = "card-body">
      <div class = "row">
          <div class = "col text-center">
            <h5>Course Ratings</h5>
          </div>
      </div>

      <p></p>
      <p></p>
      
      <div class ="row">
        <div class = "col-4 text-center">
          <%= form.label :cat1 %>
        </div>
        <div class = "col-8">
          <%= select(:review, :course_cat1, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
        </div>
      </div>
    

    <div class ="row">   
    
      <div class = "col-4 text-center">
        <%= form.label :cat2 %>
      </div>
      <div class = "col-8">
        <%= select(:review, :course_cat2, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
      </div>
    </div>
          
    <div class ="row">
      <div class = "col-4 text-center">
        <%= form.label :cat3 %>
      </div>
      <div class = "col-8">
        <%= select(:review, :course_cat3, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
      </div>
    </div>

    <div class ="row">
      <div class = "col-4 text-center">
        <%= form.label :cat4 %>
      </div>
      <div class = "col-8">
        <%= select(:review, :course_cat4, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
      </div>
    </div>

    <div class ="row">
      <div class ="col-4 text-center">
        <%= form.label :cat5 %> 
      </div>
      <div class ="col-8">
        <%= select(:review, :course_cat5, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="col-6">
    <div class="card" style="width:100%">
      <div class = "card-body">
        <div class = "row">
          <div class = "col text-center">
            <h5>Professor Ratings</h5>
          </div>
        </div>
        <p></p>
        <p></p>
        <div class = "row">
          <div class = "col-4 text-center">
            <%= form.label :cat1 %>
          </div>
          <div class = "col-8">
            <%= select(:review, :professor_cat1, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
          </div>
        </div>
        <div class = "row">
          <div class = "col-4 text-center">
            <%= form.label :cat2 %>
          </div>
          <div class = "col-8">
            <%= select(:review, :professor_cat2, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
          </div>
        </div>
        <div class="row">
          <div class = "col-4 text-center">
            <%= form.label :cat3 %>
          </div>
          <div class = "col-8">
            <%= select(:review, :professor_cat3, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
          </div>
        </div>
        <div class = "row">
          <div class = "col-4 text-center">
            <%= form.label :cat4 %>
          </div>
          <div class = "col-8">
            <%= select(:review, :professor_cat4, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
          </div>
        </div>
        <div class = "row">
          <div class = "col-4 text-center">
            <%= form.label :cat5 %>
          </div>
          <div class = "col-8">
            <%= select(:review, :professor_cat5, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </div>

  
  
  
  <p></p>

  <div class = "form-group">
    <div class = "row">
      <div class = "col-12">
        <%= form.label :course_content %>
      </div>
    </div>
    <div class ="row">
      <div class = "col-12">
        <%= form.text_area :course_content, class:"form-control", rows:"6", style: "width: 100%"  %>
      </div>
    </div>
  </div>
  
  <div class = "form-group">
    <div class ="row">
      <div class ="col-12">
        <%= form.label :"Professor's Strength" %>
      </div>
    </div>
    <div class ="row">
      <div class ="col-12">
        <%= form.text_area :professor_strength, class:"form-control", rows:"6", style: "width: 100%" %>
      </div>
    </div>
  </div>

  <div class = "form-group">
    <div class ="row">
      <div class = "col-12">
        <%= form.label :"Things to Improve"%>
      </div>
    </div>
    <div class = "row">
      <div class = "col-12">
        <%= form.text_area :professor_improvement, class:"form-control", rows:"6", style: "width: 100%" %>
      </div>
    </div>
  </div>

</fieldset>  
  
  <div class = "row">
    <div class = "col-4 text-center">
        
    </div>
    <div class = "col-4 text-center">
      <div class="actions">
        <div class = "real-submit">
          <%= form.submit 'Submit Review', class: 'form-submission btn btn-outline-primary btn-block' %>
        </div>
      </div>
    </div>
    <div class = "col-4 text-center">
    
    </div>
  </div>
<% end %>

