<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/bars-1to10.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>

<script>

$(function() {
  $('#review_course_cat1').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_professor_cat1').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_course_cat2').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_professor_cat2').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_course_cat3').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_professor_cat3').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_course_cat4').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_professor_cat4').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_course_cat5').barrating({
    theme: 'bars-1to10'
  });
});

$(function() {
  $('#review_professor_cat5').barrating({
    theme: 'bars-1to10'
  });
});


</script>


<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class = "row">
      <div class = "col-3">
        <h5> <label for="course_id"> Review For... </label></h5>
      </div>
      <div class = "col-9">
        <%= collection_select(:review, :course_id, Course.all, :id, :show_course_info, {}, style: "width: 100%") %>
      </div>
    </div>

  
    <div class = "row">
      <div class = "col-3">
        <h5><%= form.label :professor_id %></h5>
      </div>
      <div class = "col-9">
        <%= form.number_field :professor_id , placeholder: "Professor Name", style: "width: 100%" %>
      </div>

    </div>

    <div class = "row"> 
      <div class = "col-3">
        <h5><%= form.label :title %></h5>
      </div>
      <div class = "col-9">
        <%= form.text_field :title, placeholder: "Title of your review", style: "width: 100%" %>
      </div>
    </div>
  
  <hr>
      <div class = "row">
          <div class = "col-6 text-center">
            <h5>Course Ratings</h5>
          </div>
          <div class = "col-6 text-center">
            <h5>Professor Ratings</h5>
          </div>
      </div>
      <p></p>
      <p></p>
      
      <div class ="row">
        <div class = "col-2 text-center">
          <%= form.label :cat1 %>
        </div>
        <div class = "col-4">
          <%= select(:review, :course_cat1, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
        </div>
        <div class = "col-2 text-center">
          <%= form.label :cat1 %>
        </div>
        <div class = "col-4">
          <%= select(:review, :professor_cat1, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
        </div>
      </div>
    

    <div class ="row">   
    
      <div class = "col-2 text-center">
        <%= form.label :cat2 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :course_cat2, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
      <div class = "col-2 text-center">
        <%= form.label :cat2 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :professor_cat2, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
    </div>
          
    <div class ="row">
      <div class = "col-2 text-center">
        <%= form.label :cat3 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :course_cat3, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
      <div class = "col-2 text-center">
        <%= form.label :cat3 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :professor_cat3, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
    </div>

    <div class ="row">
      <div class = "col-2 text-center">
        <%= form.label :cat4 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :course_cat4, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
      <div class = "col-2 text-center">
        <%= form.label :cat4 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :professor_cat4, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
    </div>

    <div class ="row">
      <div class ="col-2 text-center">
        <%= form.label :cat5 %> 
      </div>
      <div class ="col-4">
        <%= select(:review, :course_cat5, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
      <div class = "col-2 text-center">
        <%= form.label :cat5 %>
      </div>
      <div class = "col-4">
        <%= select(:review, :professor_cat5, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5],['6', 6],['7', 7],['8', 8],['9', 9],['10', 10]]) %>
      </div>
    </div>

  <hr>
      
  <div class = "row">
    <div class = "col-12">
      <%= form.label :course_content %>
    </div>
  </div>
  <div class ="row">
    <div class = "col-12">
      <%= form.text_area :course_content, rows:"6", style: "width: 100%"  %>
    </div>
  </div>
  
  <div class ="row">
    <div class ="col-12">
      <%= form.label :"Professor's Strength" %>
    </div>
  </div>
  <div class ="row">
    <div class ="col-12">
      <%= form.text_area :professor_strength, rows:"6", style: "width: 100%" %>
    </div>
  </div>

  <div class ="row">
    <div class = "col-12">
      <%= form.label :"Things to Improve"%>
    </div>
  </div>
  <div class = "row">
    <div class = "col-12">
      <%= form.text_area :professor_improvement, rows:"6", style: "width: 100%" %>
    </div>
  </div>
</fieldset>  
  <hr>
  <div class = "row">
    <div class = "col-4 text-center">
        
    </div>
    <div class = "col-4 text-center">
      <div class="actions">
        <div class = "real-submit">
          <%= form.submit 'Submit Review', class: 'form-submission btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class = "col-4 text-center">
    
    </div>
  </div>
<% end %>

