<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @review.student_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Rate up:</strong>
  <%= @review.rate_up %>
</p>

<p>
  <strong>Rate down:</strong>
  <%= @review.rate_down %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
