<p id="notice"><%= notice %></p>

<h1>Review Forms</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @review_forms.each do |review_form| %>
      <tr>
        <td><%= review_form.review %></td>
        <td><%= link_to 'Show', review_form %></td>
        <td><%= link_to 'Edit', edit_review_form_path(review_form) %></td>
        <td><%= link_to 'Destroy', review_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review Form', new_review_form_path %>
