<div class="modal fade" id="prefModal" tabindex="-1" role="dialog" aria-labelledby="prefModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 50vw;">
		<div class="modal-content">
			<div class="modal-header bg-danger">
				<h5 class="modal-title" id="prefModalLabel">Record Your Preferences</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="match-content">
                <p class="font-italic text-center">We use the data given by the course's past reviews to see if you would enjoy the course. Fill out the questions below to declare your preferences for automatic course matching!</p>
				<%= form_with url: preferences_path, method: :post, id: 'match-form' do |f| %>
					<table class="table table-borderless text-left">  
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col" class="font-weights-normal text-center">Yes</th>
								<th scope="col" class="font-weights-normal text-center">No</th>
							</tr>
						</thead>
						<tbody>
							<tr id="match-q1">
								<th scope="row">Would you mind a high level of required participation in the class?</th>
								<td class="text-center"><%= f.radio_button :pref_participation, "yes", checked: current_user.preference ? !current_user.preference.likes_participation : false %></td>
								<td class="text-center"><%= f.radio_button :pref_participation, "no", checked: current_user.preference ? current_user.preference.likes_participation : false  %></td>
							</tr>
							<tr id="match-q2">
								<th scope="row">Would you mind a challenging coursework (but might be rewarding)?</th>
								<td class="text-center"><%= f.radio_button :pref_workload, "yes", checked: current_user.preference ? !current_user.preference.likes_workload : false %></td>
								<td class="text-center"><%= f.radio_button :pref_workload, "no", checked: current_user.preference ? current_user.preference.likes_workload : false %></td>
							</tr>
							<tr id="match-q3">
								<th scope="row">Would you mind a course's strict grading (assuming you enjoy its content)?</th>
								<td class="text-center"><%= f.radio_button :pref_grading, "yes", checked: current_user.preference ? !current_user.preference.likes_testing : false %></td>
								<td class="text-center"><%= f.radio_button :pref_grading, "no", checked: current_user.preference ? current_user.preference.likes_testing : false %></td>
							</tr>
						</tbody>
					</table>
                    <div class="text-center">
                        <%= f.submit "Submit", class: 'btn btn-danger rounded-pill px-4', id: 'match-submit-btn', disabled: true %>
                    </div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
    var form = $("#match-form");
    var q1 = form.find("#match-q1");
    var q2 = form.find("#match-q2");
    var q3 = form.find("#match-q3");

    form.change(function() {
        if (q1.find("input[type=radio]:checked").length == 0 || 
            q2.find("input[type=radio]:checked").length == 0 || 
            q3.find("input[type=radio]:checked").length == 0) {
            $("#match-submit-btn").prop('disabled', true);
        } else {
            $("#match-submit-btn").prop('disabled', false);
        }
    })
</script>
