    <div class="card-columns">
        <div class="card border-secondary mb-3" style="min-width:80rem;">
            <div class="card-header d-flex justify-content-between bg-transparent border-secondary align-items-center">
                <%= link_to "#{review.course.course_code}: #{review.course.course_title} (#{review.course.semester} #{review.course.year})", "#", class: 'text-muted' %>
                <div class="icons">
                    <%= link_to  "/reviews/#{review.id}", method: 'patch', class: 'mr-3', style: 'font-size:20px' do %>
                        &#9998;
                    <% end %>
                    <%= link_to  "/reviews/#{review.id}", method: 'delete', style: 'font-size:20px', :data => {:confirm => 'Would you like to delete this review?'} do %>
                        &#10005;
                    <% end %>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title"><%= review.title %></h5>
                <p class="card-text">
                    <%= review.course_rating.content %>
                </p>

                <a class="collapse-button" data-toggle="collapse" data-target=<%="#collapse#{review.id}"%> aria-expanded="false" aria-controls="collapse">
                    &#9660;
                </a>

                <div class="collapse" id=<%="collapse#{review.id}"%>>
                <div class="row m-1">
                    <div class="col border border-info rounded m-2">
                        <div class="course-rating mt-2">
                            <h4 class="mb-3">Course Ratings</h4>
                            <% (1..5).each do |num| %>
                            <p><b>Category <%= num %></b>: <%= review.course_rating["cat" + num.to_s] %> / 5</p>
                            <% end %>
                        </div>
                    </div>
                    <div class="col border border-info rounded m-2">
                        <div class="professor-rating mt-2">
                            <h4 class="mb-3">Professor Ratings</h4>
                            <% (1..5).each do |num| %>
                            <p><b>Category <%= num %></b>: <%= review.professor_rating["cat" + num.to_s] %> / 5</p>
                            <% end %>      
                        </div>
                    </div>
                </div>
                </div>

            </div>
            <div class="card-footer bg-transparent border-secondary">
                <small class="text-muted">Last updated on <%= review.updated_at %></small>
                <br/>
                <small class="text-muted">Created on <%= review.created_at %></small>
            </div>
        </div>