<div class="header m-5">
    <div class="row d-flex justify-content-start align-items-center">
        <div class="col-1">
            <%= gravatar_for current_user %>
        </div>
        <div class="col-4 text-left">
            <h1><%= current_user.first_name + " " + current_user.last_name %></h1>
            <h5><%= current_user.email %></h5>
        </div>
        <div class="col-7 text-right">
            <%= button_to  "Log Out", "/logout", method: 'get', class: "btn btn-outline-danger btn-lg" %>
        </div>
    </div>
</div>
<div class="dropdown-divider"></div>
<div class="reviews mx-5">
    <h1 class="my-5">My Reviews</h1>

    <% current_user.reviews.each do |review| %>
        <%= render 'my_review', review: review %>
    <% end %>

</div>

