<div class = "profile-area">
	<div class = "profile-gravatar-area">
		<%= avatar_for current_user %>
	</div>
	<%= render 'change_avatar_modal' %>
	<div class = "profile-name-area">
		<h1><%= current_user.show_full_name %></h1>
		<h5><%= current_user.email %></h5>
	</div>
	<div class = "profile-button-area">
		<div class = "message-login-button">
			<div class = "message-button-area">
				<%= button_to "Messages", "/messenger_home", method: :get, class: "btn btn-outline-primary message-button btn-lg" %>
			</div>
			<div class = "login-button-area">
				<%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger btn-lg" %>
			</div>
		</div>	
	</div>
</div>

<div class="dropdown-divider"></div>

<div class = "review-view-area">
	<div class = "review-cards-area">
		<h1> My Reviews </h1>
		<% @user_reviews.each do |review| %>
			<%= render 'shared/review_details_card', review: review %>
		<% end %>
	</div>
	<div class = "course-search-area">
	 	<div class="mt-5">
 			<h1>My Courses</h1>
 			<p class="font-italic text-muted">By choosing your enrolled courses, you agree to share the information to other Brandeis students</p>
 		</div>
 		<div id="user-courses" class="mx-3 mb-2">
 			<%= render 'user_courses', user_courses: @user_courses %>
 		</div>
 		<div class="border border-info rounded py-3">
 			<div class="d-flex justify-content-center mb-3">
 			<%= form_tag 'view_profile', method: "post", remote: true, class: "search-form text-center d-flex flex-column align-content-center" do %>
 				<div class="row">
 					<div class="col">
 						<%= label_tag :search_text_courses, "Search for a course", class: 'h6' %>
 					</div>
 				</div>
 				<div class="profile-search-area">
 						<%= text_field_tag :search_text_courses, '', placeholder: "Search", class: 'form-control profile-search-box' %>
 						<%= submit_tag "Search", class: 'btn btn-outline-info profile-search-button' %>
 				</div>
 			<% end %>
 			</div>
 			<div id="courses-result" class="mx-3 overflow-auto" style="max-height: 300px"></div>
 		</div>
	</div>
</div>

<script>
	var img = $('.image');
	img.hover(function() {
		img.css('opacity', '0.5');
		img.css('cursor', 'pointer');
	}, function() {
		img.css('opacity', '1');
		img.css('cursor', 'auto');
	});
	
	img.click(function() {
		$("#avatar-modal").modal('toggle');
	});
</script>
