<%= form_with(model: professor_rating, local: true) do |form| %>
  <% if professor_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor_rating.errors.count, "error") %> prohibited this professor_rating from being saved:</h2>

      <ul>
        <% professor_rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :review_id %>
    <%= form.number_field :review_id %>
  </div>

  <div class="field">
    <%= form.label :cat1 %>
    <%= form.number_field :cat1 %>
  </div>

  <div class="field">
    <%= form.label :cat2 %>
    <%= form.number_field :cat2 %>
  </div>

  <div class="field">
    <%= form.label :cat3 %>
    <%= form.number_field :cat3 %>
  </div>

  <div class="field">
    <%= form.label :cat4 %>
    <%= form.number_field :cat4 %>
  </div>

  <div class="field">
    <%= form.label :cat5 %>
    <%= form.number_field :cat5 %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.text_field :strength %>
  </div>

  <div class="field">
    <%= form.label :improvement %>
    <%= form.text_field :improvement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
